<html xmlns:th=http://www.thymeleaf.org
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<th:block layout:fragment="mystyle"></th:block>

<th:block layout:fragment="main">
	<div id="main">
		<h1>게시글 작성</h1>
		<form name="write" id="write">
			<div>
				<label for="tle">제목</label>
				<input type="text" name="title" id=tle>
			</div>
			<div>
				<label for="uid">작성자</label>
				<input type="text" name="userid" id="uid" value="abc123" readonly>
			</div>
			<div>
				<label for="ctt">내용</label>
				<textarea cols="55" rows="7" name="contents" id="ctt"></textarea>
			</div>
			
			<div>
				<button type="button" id="writebtn">입력완료</button>
				<button type="reset">다시입력</button>
			</div>
		</form>
	</div>
</th:block>
	
<th:block layout:fragment="myscript">
<script>
	let writebtn = document.getElementById("writebtn");
	writebtn.addEventListener('click', checkwriteform);
	
	function checkwriteform () {
		let frm = document.write;
		if(frm.tle.value == '') alert('제목을 입력하세요.');
		else if(frm.uid.value == '') alert('작성자를 입력하세요.');
		else if(frm.ctt.value == '') alert('내용을 입력하세요');
		else {
			frm.method = 'post';
			frm.submit();
		}
	}
</script>
</th:block>