<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>세미프로젝트</title>
<link th:href="@{/static/css/base.css}" rel="stylesheet">
<style>
	/* 로그인 폼에 대한 스타일 */
	#login { border: 1px solid blue;
		width: 300px; margin: 0 auto;}
	#login div { margin-bottom: 10px; }
	#login label { width: 110px; display: inline-block;
				text-align: right; font-weight: bold; padding: 3px; }
	#login input { padding: 3px; }
	#loginbtn { margin-left: 5px; }
</style>
</head>
<body>
	<div id="container">
		<th:block th:include="layout/header"/>
	<div id="main">
	<h1>로그인</h1>
		<form name="login" id="login">
			<div>
				<label for="uid">아이디</label>
				<input type="text" name="userid" id="uid">
			</div>
			<div>
				<label for="pwd">비밀번호</label>
				<input type="password" name="passwd" id="pwd">
			</div>
			<div>
				<button type="button" id="loginbtn">로그인</button>
			</div>
		</form>
	</div>
		<th:block th:include="layout/footer"/>
	</div>
	
	<script>
		var loginbtn = document.getElementById("loginbtn");
		loginbtn.addEventListener('click', checkloginfrm);
		
		function checkloginfrm(){
			var frm = document.login;
			
			if(frm.uid.value == '') alert('아이디를 입력하세요.');
			else if(frm.pwd.value == '') alert('비밀번호를 입력하세요.');
			else {
				frm.method = 'post';
				frm.submit();
			}
		}
	</script>
</body>
</html>