<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="UTF-8">
<title>세미프로젝트</title>
<link th:href="@{/static/css/base.css}" rel="stylesheet">
<style>
	table { border: 1px solid blue; margin: 120px auto; }
	th, td { padding: 10px; }
	th { text-align: right; }
</style>
</head>
<body>
	<div id="container">
		<th:block th:include="layout/header"/>
	<div id="main">
		<h1>회원 정보</h1>
		<table>
			<tr>
				<th>아이디</th>
				<td th:text="${mbr.userid}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td th:text="${mbr.name}"></td>
			</tr>
			<tr>
				<th>이메일</th>
				<td th:text="${mbr.email}"></td>
			</tr>
			<tr>
				<th>가입일</th>
				<td th:text="${#strings.substring(mbr.regdate, 0, 10)}"></td>
			</tr>
		</table>
	</div>
		<th:block th:include="layout/footer"/>
	</div>
</body>
</html>